.card_wrapper {
  background-color: #ffffff;
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
  padding: 2.5rem 2.188rem;
  border-radius: 18px;
  box-shadow: 0px 3px 6px #00000029;

  &:hover {
    .image_bg {
      transform: scale(1.02); // Proper zooming effect
    }
  }

  .card_item {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }

  .image_wrapper {
    overflow: hidden;
    max-width: 460px;
    max-height: 448px;

    .image_bg {
      height: 49vh;
      width: 100%;
      max-width: 460px;
      transition: transform 0.65s ease-in-out; // Smooth zoom effect
    }
  }

}