@use "../abstracts/variables"  as vars;
@use "../abstracts/mixins" as mixins;

.site {
  h1 {
    //font-family: "Neulis Sans Bold", serif;
    font-family: "Nunito Sans", serif;
  }
}

.main_slider {
  position: relative;

  .main_slider_active {
    max-width: 280px;
    margin: 0 auto;
    background-color: white;
    padding: 0 10px;

    .image_bg {
      @include mixins.flexbox(row, space-between, flex-end);
    }

    @include mixins.ipad-mini-screen {
      max-width: 480px !important;
    }
    @include mixins.ipad-screen {
      max-width: 768px !important;
      padding: 0 20px;
    }
    @include mixins.md-screen {
      max-width: 991px !important;
    }
    @include mixins.mac-screen {
      max-width: 1025px !important;
    }
    @include mixins.xxl-screen {
      max-width: 1500px !important;
    }
  }

  .main_slider_nav_wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    height: 84vh;
    z-index: -1;

    .image_bg {
      @include mixins.flexbox(row, flex-end, flex-end);
    }

    .slick-slide {
      width: 280px !important;

      @include mixins.ipad-mini-screen {
        width: 480px !important;
      }
      @include mixins.ipad-screen {
        width: 768px !important;
      }
      @include mixins.md-screen {
        width: 991px !important;
      }
      @include mixins.mac-screen {
        width: 1025px !important;
      }
      @include mixins.xxl-screen {
        width: 1500px !important;
      }
    }
  }

  .slide_item {
    .small_title {
      color: vars.$white;
      margin: 0 2rem;
    }

    @include mixins.flexbox(row, center, center);
  }

  .image_bg {
    height: 28vh;
    margin: 0 auto;
    position: relative;
    padding: 0 3rem 4rem 3rem;

    .button-primary {
      padding: 5px 15px;
      max-width: 200px;
      font-size: vars.$font-size-default;
    }

    @include mixins.ipad-mini-screen {
      height: 34vh;
    }
    @include mixins.ipad-screen {
      height: 40vh;
    }
    @include mixins.md-screen {
      height: 70vh;
    }
    @include mixins.xxl-screen {
      height: 84vh;
      padding: 20px;
      font-size: vars.$font-size-lg;
    }
  }

  .details {

    @include mixins.flexbox(column, center, center);

    @include mixins.ipad-mini-screen {

      @include mixins.flexbox(row, space-between, center);

    }
  }
}

.main_slider_controls {
  position: relative;
  padding: .85rem 0;
  margin-top: -5px;

  @include mixins.flexbox(row, center, center);

  .slick-dots {
    bottom: 0;
    top: 0;
    list-style: none;

    @include mixins.flexbox(row, center, center);

    li {
      margin: 0 5px;
      @include mixins.flexbox(row, center, center);

      &:hover,
      &.slick-active {

        button {
          background: rgba(vars.$border-gray, 1);
        }
      }

      button {
        width: 10px;
        height: 10px;
        background: rgba(vars.$border-gray, 0.48);
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:focus-visible {
          outline: 2px auto vars.$black !important;
        }

        &:before {
          display: none;
        }
      }
    }
  }

  .slick-play-pause {
    position: relative;
    z-index: 11;
    background: rgba(vars.$border-gray, 0.48);
    color: #fff;
    border: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: auto;
    font-size: 12px;
    @include mixins.flexbox(row, center, center);

    &:focus {
      outline: 0 auto vars.$black;
    }

    &:focus-visible {
      outline: 2px auto vars.$black !important;
    }
  }
}

.our_offer {
  background-color: vars.$black;
  color: vars.$white;

  .offer_category_title {
    a {
      color: #7B9477;
      margin: 0 2rem;
      display: inline-block;
    }
  }

  .small_title {
    color: vars.$white;
    font-weight: vars.$weight-regular;
  }

  .slick-slide {
    width: 400px;
  }
}

.offer_category_slider {
  .slick-dots {
    bottom: -30px;
    list-style: none;
  }

  .slick-dots li {
    width: 8px;
    height: 8px;
    background: vars.$white;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .slick-dots li.slick-active {
    background: vars.$border-gray;
    transform: scale(1.2);
  }

  .slick-prev,
  .slick-next {
    width: 95px;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;

    @include mixins.flexbox(row, center, center);

    &::before {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(vars.$black, 0.68);
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      width: 36px;
      height: 121px;
      background-image: url('../../../static/img/arrow_offer_category_slider.webp');
      z-index: 2;
    }

    &:hover {

      &::before {
        background-color: rgba(134, 134, 134, 0.5);
      }
    }
  }

  .slick-prev {
    left: 0;

    &::after {
      transform: rotate(180deg); // Left arrow
    }
  }

  .slick-next {
    right: 0;
  }
}


.product_slide {
  padding-right: 1rem;
  position: relative;
  height: 230px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex !important;
  @include mixins.flexbox(column, space-between, flex-end);

  .category_name {
    font-weight: vars.$weight-regular;
    font-size: vars.$font-size-sm;
  }

  img {
    width: auto;
  }

  .details {
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    position: relative;
    z-index: 2;

    @include mixins.flexbox(row, space-between, center);

    .small_title {
      font-weight: vars.$weight-regular;
    }
  }

  .more_details {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(50%) scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: -1;

    @include mixins.flexbox(column, flex-end, center);

    .button-primary {
      max-width: 120px;
      margin-top: 4.375rem;
    }
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(vars.$black, 0.15);
  }

  &:hover {
    &:before {
      background-color: rgba(vars.$black, 0.75);
    }

    .details {
      opacity: 0;
    }

    .more_details {
      opacity: 1;
      z-index: 2;
      transform: translateY(0) scale(1);
    }
  }
}

.section_our_students {

  .small_title {
    color: vars.$border-gray;
    font-weight: vars.$weight-regular;
  }
}

.section_study_your_interests {
  background-color: vars.$black;

  .small_title {
    color: vars.$white;
  }
}


.interests {

  .image_bg {
    height: 40vh;
    margin-bottom: 36px;
    @include mixins.flexbox(row, center, center)
  }

  p,
  h3 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    max-width: 590px;
    margin: 0 auto;
    color: rgba(vars.$white, 0.96);
  }
}

.section_hybrid_studies {
  color: vars.$white;
  background-color: vars.$black;

  .image_bg {
    padding-bottom: 6rem;
    height: 78vh;
    @include mixins.flexbox(row, center, flex-end);

    a {
      margin: 2rem auto;
    }
  }

  .banner_title {
    color: rgba(vars.$white, 0.89);
  }

}

.section_additional_for_you {

  .image_bg {
    padding: 2rem;
    height: 78vh;
    @include mixins.flexbox(row, center, flex-end);

    h2 {
      font-size: 68px;
    }

    h3 {
      font-size: 40px;
    }
  }
}